#page-list {
	min-height:250px;
}

#page-list ul {
	background:none;
	margin-left:1em!important;
}

#page-list > ul {
	margin-left:0!important;
}

#page-list a {
	text-decoration:none;
	font-size:13px;
	color:#eee;
	padding:1px 1px 1px 15px;
	background:url(../img/off.png) no-repeat left;
}

#page-list a:hover {
	text-decoration:underline;
}

#page-list a.selected {
	color:#eee;
	background:url(../img/on.png) no-repeat left;
}

/* Sortable CSS */
.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

.sortable li {
	margin:5px 0;
	padding-left:20px;
}

.sortable li div {
	padding:5px 1px 5px 10px;
	margin:0;
	cursor: pointer;
	background:url(../../../themes/pyrocms/img/icons/drag_handle_dark.gif) #eee no-repeat 99% 5px;
     
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li div:hover {
	background-color:#bbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

.sortable li.placeholder {
	background-color:#c2c0c0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	margin-left:20px;
}

.plus {
	background:url(../img/more.png) no-repeat 0 7px;
}

.minus {
	background:url(../img/less.png) no-repeat 0 7px;
}

#page-details {
	min-height:250px;
}

#page-details h5 {
	margin:0;
	padding:0;
}


.title.syllabus{
    background: #597eaa;
background-image: -khtml-gradient(linear, left top, left bottom, from(#597eaa), to(#577aa5));
background-image: -moz-linear-gradient(#597eaa, #577aa5);
background-image: -ms-linear-gradient(#597eaa, #577aa5);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #597eaa), color-stop(100%, #577aa5));
background-image: -webkit-linear-gradient(#597eaa, #577aa5);
background-image: -o-linear-gradient(#597eaa, #577aa5);
background-image: linear-gradient(#597eaa, #577aa5);
background-repeat: repeat-x;
border-bottom: 1px solid #f0f0f0;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-ms-border-radius: 5px 5px 0 0;
-o-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    
}
section.title.syllabus h4 {
    
    color:#eee;
    text-shadow:none;
}


.title.blue h4 {
    
    color:#eee;
    text-shadow:none;
}


.title.blue{
    background: #597eaa;
background-image: -khtml-gradient(linear, left top, left bottom, from(#597eaa), to(#577aa5));
background-image: -moz-linear-gradient(#597eaa, #577aa5);
background-image: -ms-linear-gradient(#597eaa, #577aa5);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #597eaa), color-stop(100%, #577aa5));
background-image: -webkit-linear-gradient(#597eaa, #577aa5);
background-image: -o-linear-gradient(#597eaa, #577aa5);
background-image: linear-gradient(#597eaa, #577aa5);
background-repeat: repeat-x;
border-bottom: 1px solid #f0f0f0;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-ms-border-radius: 5px 5px 0 0;
-o-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    
}



.sortable.sector li div{
	padding:5px 1px 5px 10px;
	margin:0;
	cursor: pointer;
	background:#54769e;
        color:#eee;
     
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}



.sortable.course li div {
	
	background:#628ab9;
       
     
	
}
.sortable.module li div {
	
	background:#6e9ace;
       
     
	
}

.sortable.lesson li div {
	
	background:#79a8e0;
       
     
	
}

.sortable.topic li div {
	
	background:#8bbffd;
       
     
	
}
